.admin-panel {
  margin-top: 2rem;
}

.admin-panel__table {
  width: 100%;
  border-collapse: collapse;
}

.admin-panel__table th,
.admin-panel__table td {
  border-bottom: 1px solid #555;
  padding: 0.75rem 1rem;
  text-align: left;
}

.admin-panel__select {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #555;
}

.admin-panel__button{
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.admin-panel__button-approve {
  background-color: #28a745;
  margin-bottom: 5px;
}

.admin-panel__button-reject {
  background-color: #dc3545;
}
